.features {
    width: 100%;
    height: auto;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    padding-top: 200px;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #111B29;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #6B788A;
    margin: 10px 0;
}

.pagination {
    border: 1px solid red;
    height: 100px;
    width: 100px;
}


/* Responsive CSS Styles */

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 40px;
        line-height: 40px;
    }
}